.modal__text {
  text-align: center;
  margin: 0;
}

.modal__delete-btn {
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  color: #ff4d00;
  cursor: pointer;
  margin: 40px 0 24px 0;
}

.modal__cancel-btn {
  border: none;
  background: transparent;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.modal__content-confirm {
  background-color: #fff;
  position: relative;
  max-width: 670px;
  width: 100%;
  border-radius: 20px;
  height: 280px;
}
