.clothes-section {
  flex-grow: 1;
}

.clothes-section__row {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  gap: 20px;
}

.clothes-section__button {
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  opacity: 60%;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}
